<html>
  <head>
    <title><%= @email.subject %></title>
  </head>
  <body>
    <p>Hello <%= @user %></p>
    <p>On behalf of <%= @owner %>, we are glad to confirm your participation to the event the <%= @date %></p>
    <p>Cheers!</p>
  </body>
</html>