<main class="container mx-auto max-w-full">
   <p class="alert:empty alert-info flex" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="info"><%= live_flash(@flash, :info) %>
  </p>

  <p class="alert:empty alert-danger" role="alert"
    phx-click="lv:clear-flash"
    phx-value-key="error"><%= live_flash(@flash, :error) %>
  </p>

  <%= @inner_content %>
</main>

