
<!-- <section id="live_home">
</section> -->
  <h2 class="text-black p-2"> Welcome <strong><%= @profile.email %></strong></h2>
<%= live_render(@conn, LiveMapWeb.MapLive, session: %{"email" => @profile.email})%>
