
<section id="live_home">
  <h1 class="text-black"> Welcome <strong><%= @profile.email %></strong>
  </h1>
</section>
<%= live_render(@conn, LiveMapWeb.MapLive, session: %{"email" => @profile.email})%>
